body {
    padding: 0;
    margin: 0;

}



.MAN27, .TIR28 {
    display: grid;
    grid-template-columns:20% 40% 40% ;
    grid-template-rows: auto;
    grid-gap: 5px;
}
.DAG27, .DAG28 {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    margin-left: 5%;
    margin-top: 5%;
}

.MAINMAN27 {
    margin: 20px;
}
table {
    width: 100%;
}
th {
    background: rgb(106, 199, 0);
    border: black solid 1px;
}
td {
    background-color: rgb(255, 247, 202);
    border: solid black 1px;
}

.FOOTERMAN27 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
}