body {
    padding: 0;
    margin: 0;

}



.MAN04 , .TIRS05 , .ONS06{
    display: grid;
    grid-template-columns:20% 40% 40% ;
    grid-template-rows: auto;
    grid-gap: 5px;
}
.DAG04 , .DAG05 , .DAG06{
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    margin-left: 5%;
    margin-top: 5%;
}

.MAINMAN04 , .MAINTIRS05 , .MAINONS06{
    margin: 20px;
}
table {
    width: 100%;
}
th {
    background: rgb(106, 199, 0);
    border: black solid 1px;
}
td {
    background-color: rgb(255, 247, 202);
    border: solid black 1px;
}

.FOOTERMAN04 , .FOOTERTIRS05 , .FOOTERONS06{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
}
